<div class="imm-wa__hdr imm-flex ng-scope">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit ng-binding">
            {{ 'dashboard.title' | translate }}
        </h1>
    </div>
</div>

<div class="imm-wa__cnt">
    <ng-form>
        <form class="imm-frm" ng-show="itemTab == 1 && access['dashboard.metrics']">
            <div class="imm-frm__fldgrp">
                <div class="imm-frm__fld">
                    <label class="imm-frm__lbl">

                    </label>
                </div>
            </div>
        </form>
    </ng-form>
</div>