<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            {{ 'catalogs.title' | translate }}
        </h1>
    </div>
</div>
<div class="imm-wa__cnt">
    <div class="imm-wa__full">
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.catalogs.users">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/images/catalogos/usuarios.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'catalogs.users.title' | translate }}</b>
            </a>
        </div>
    </div>
</div>